<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 2017-09-07, 15:37</p>
            <h2><a href="">My 1st Django</a></h2>
            <p>My 1st Django in the town.</p>
        </div>

        <div>
            <p>created: 2017-02-14, 22:36</p>
            <p>published: 2017-06-13, 06:00</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my 1st Django and it's just awesome</p>
        </div>

        <div>
            <p>published: 2017-04-11, 22:35</p>
            <h2><a href="">My second post</a></h2>
            <p>Second post in Django</p>
        </div>

        <div>
            <p>published: 2017-09-06, 22:34</p>
            <h2><a href="">3rd post</a></h2>
            <p>3rd post and my 3rd Django</p>
        </div>
    </body>
</html>